<div class="container mt-5" style="padding: 50px;">
  <h1>About Us</h1>
  <p>Welcome to our blog! Here, we share our thoughts, experiences, and insights on various topics.</p>
  
  <h2 class="mt-5">Highlights of Our Project</h2>
  <ul class="list-group list-group-flush">
      <li class="list-group-item">Informative blog posts</li>
      <li class="list-group-item">User-friendly navigation</li>
      <li class="list-group-item">Responsive design</li>
      <li class="list-group-item">Easy post creation and editing</li>
      <li class="list-group-item">Engaging featured posts section</li>
      <br><br><br> <br> <br>
      <li class="list-group-item"><i>Reach us  at: babalpreet102&#64;gmail.com <br> Phn no:180-1234-5647</i></li>
  </ul>
</div>
