<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">Recommended Topics</h5>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action rounded-pill">Technology</a>
      <a href="#" class="list-group-item list-group-item-action rounded-pill">Travel</a>
      <a href="#" class="list-group-item list-group-item-action rounded-pill">Food & Cooking</a>
      <a href="#" class="list-group-item list-group-item-action rounded-pill">Health & Fitness</a>
      <a href="#" class="list-group-item list-group-item-action rounded-pill">Fashion</a>
      <a href="#" class="list-group-item list-group-item-action rounded-pill">Books & Literature</a>
    </div>
  </div>
</div>
